section {
    width: 50%;
    border: 1px solid;
  }
.poem{
    width:50%;
}
section{
    padding: 10px;
}
.block1{
    margin: 0 auto;
}
.block2{
    margin-left: auto;
}
.block3{
    margin-left: 50em;
}
.block4{
    margin-left: 35em;
}
p:nth-of-type(2){
    text-align: center;
}
p:nth-of-type(3){
    text-align: right;
}
.block4 p:nth-of-type(1){
    text-align: right;
}
.block4 p:nth-of-type(3){
    text-align: left;
}
