@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&family=Sedgwick+Ave&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    text-align: center;
    font-family:Sedgwick Ave,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
header{
    position:absolute;
    width: 100%;
    display:flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    background-color: #ccd5ae;
    color: #99582a;
    text-align: center;
    font-size: 2.5em;
    text-decoration: none;
    margin: 0 55px;
    transition: 0.7s;
    padding: 10px;
    border-radius: 30px;
    
}
nav a:hover {
    color: #99582a;
    background-color: #fbc4ab;
    padding: 15px;
    border-radius: 20px;
}
#logo_link{
    grid-column: 1/2;
    padding-top: 5px;
    justify-items: end;
    align-self: flex-start  ;
}
.logo_link{
    width: 200px;
    height: 200px;
}
.cosmetic-store{
    position: relative;
    width:1300px;
    margin-top: -20px;
}
h1 {
    font-size: 50px;
    word-break: break-all;
    color:#ccd5ae;
}
h1 {
    font-size: 50px;
    word-break: break-all;
    color:#ccd5ae;
}
h2{
    font-size: 3em;
    color: #ccd5ae;

}
.row {
    margin: 8px -10px;
}

  /* Add padding BETWEEN each column*/
.row,
.row > .column {
  padding: 15px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: right;
  width: 33.33%;
  display: none; /* Hide columns by default */
}
/* Add padding BETWEEN each column (if you want) */
.column h4{
    color:#99582a;
    font-size: 2em;
}
.column p{
    color:#99582a;
    font-size: 2.5em;
    font-family:Playpen Sans,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
/* Content */
.container {
    background-color:white;
    padding:10px;
    position: relative;
}
  
  /* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  /* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color:#ccd5ae;
    color:#99582a;
    font-size: 1.5em;
    font-family:Playpen Sans,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn:hover {
    color: #99582a;
    background-color: #fbc4ab;
}
/* Add a dark background color to the active button */
.btn.active {
    background-color: #fbc4ab;
     color: #99582a;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #faedcd;
    overflow: hidden;
    width: auto;
    height:0;
    transition: .5s ease;
}
  
.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
.text {
    color: #99582a;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
footer{
    background-color: #393a34;
    color: #4eaede;
    font-family: Sedgwick Ave Display,Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: left;
    padding: 3em;
}
footer a{
    background-color: #393a34;
    color: #4eaede;
    text-decoration: none;
    font-family: Sedgwick Ave Display,Arial, Helvetica, sans-serif
    
}
footer p a:hover{
    background-color: #393a34;
    color: #D4AC0D;
    text-decoration: underline;
}
.social_logo{
    width: 100px;
}
.two_section{
    font-size: 1.5em;
    display: block;
    justify-items: center;
}
.Name_section{
    font-size: 2em;
}
